<.flash_group flash={@flash} />

<.table id="contests" rows={@contests}>
  <:col :let={contest} label="Name">
    <a href={contest["link"]}>{contest["name"]}</a>
  </:col>
  <:col :let={contest} label="gon">
    <div class="flex flex-row">
      <div class="text-green-400">{contest["gon"]["solved"]}</div>
      <div class="text-red-400">{contest["gon"]["unsolved"]}</div>
    </div>
  </:col>
  <:col :let={contest} label="immortalfox">
    <div class="flex flex-row">
      <p class="text-green-400">{contest["immortalfox"]["solved"]}</p>
      <p class="text-red-400">{contest["immortalfox"]["unsolved"]}</p>
    </div>
  </:col>
</.table>
